.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    padding: 1.5rem 2.5rem;
    font-size: 1.25rem;
    align-items: center;
    height: 6.75rem;
    letter-spacing: 0.15rem;
}

.navbar-links {
    display: flex;
    justify-content: center;
}

.navbar-nav {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-link {
    margin-left: 1.5rem;
    justify-content: center;
    align-items: center;
}

.nav-link>a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
}

.nav-link>a:hover {
    background-color: #22A39F;
}

.cart-nav-link {
    background-color: #333;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    border-radius: 40%;
}

.cart-nav-link>span {
    margin-left: 0.5rem;
}

.cart-nav-link>i {
    margin-right: 0.5rem;
}

.navbar-toggle {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    padding: 0.25rem 0.75rem;
    display: none;
}

.navbar-toggle>i {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-size: 100%;
}

@media (max-width: 950px) {
    .navbar-links {
        display: none;
    }
    .navbar-toggle {
        display: initial;
    }
}