.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131921;
    color: #fff;
    min-height: 8vh;
    padding: 0 7rem;
}

.nav-brand>h3 {
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
}

.nav-links {
    display: flex;
    justify-content: right;
    gap: 3rem;
    list-style: none;
}

.nav-links>li>a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.15rem;
}

.nav-links>li>a:hover {
    opacity: 0.8;
    ;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

.burger-menu:hover {
    background-color: rgba(100, 100, 100, 0.8);
}

.burger-menu>div {
    width: 2rem;
    height: 0.15rem;
    background-color: #fff;
    margin: 0.4rem;
    transition: all 0.4s ease;
}

.on-toggle .burger-menu-line-1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.on-toggle .burger-menu-line-2 {
    opacity: 0;
}

.on-toggle .burger-menu-line-3 {
    transform: rotate(45deg) translate(-6px, -6px);
}

@media (max-width: 950px) {
    body {
        overflow-x: hidden;
    }
    .navbar {
        padding: 0 2rem;
    }
    .nav-links {
        position: fixed;
        width: 50%;
        top: 8vh;
        right: 0;
        bottom: 0;
        min-height: 92vh;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        padding: 5rem 0;
        background-color: #131921;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links-active {
        display: flex;
        transform: translateX(0%);
    }
    .burger-menu {
        display: initial
    }
}

@media (max-width: 550px) {
    .nav-brand>h3 {
        font-size: 1rem;
    }
}