.home-screen {
    max-width: 90rem;
    margin: 1rem auto;
    padding: 1rem;
}

.home-button {
    padding: 0.5rem 2.5rem;
    margin: 0.5rem auto;
    background-color: #ffd814;
    color: #000;
    border-radius: 0.75rem;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.products-list {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1535px) {
    .products-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1150px) {
    .products-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 756px) {
    .products-list {
        grid-template-columns: repeat(1, 1fr);
    }
}