* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: #eeeeee;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
}